<div class="login-container">
    <h2>Signup</h2>

    <form [formGroup]="signUpForm" class="login-form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required />
            <mat-error *ngIf="signUpForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="mt-2">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required />
            <mat-error *ngIf="signUpForm.get('password')?.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>

        <div class="flex justify-center mt-2">
            <button mat-raised-button (click)="signUp()" class="w-1/2">Signup</button>
        </div>

        <div class="flex justify-center items-center mt-2">
            <span>Already have an account ? </span>
            <a mat-button (click)="goToLogin()">Login</a>
        </div>
    </form>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-atom" [fullScreen]="true"
    [name]="'full'">
    <p style="color: white" name="full"> Creating account... </p>
</ngx-spinner>