<mat-accordion>
    @for (pdf of allPdfs; track $index) {
    <mat-expansion-panel class="my-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{pdf.filename}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <pdf-expansion-content [pdf]="pdf"></pdf-expansion-content>
    </mat-expansion-panel>
    }
</mat-accordion>

<!-- {
    "serialNumber": 1,
    "id": "72475ec6-ca7b-4ba6-859e-22c778376e72",
    "created_at": "2025-01-18T16:34:04.361619+00:00",
    "filename": "Physics.pdf",
    "standard": "11th",
    "type": "paper",
    "subject": "Physics",
    "description": "Physics paper 1",
    "fileURL": null
} -->