<mat-form-field class="w-full">
    <input matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
</mat-form-field>

<mat-accordion>
    @for (pdf of pdfs; track $index) {
    <mat-expansion-panel class="my-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{pdf.filename}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <pdf-expansion-content [pdf]="pdf"></pdf-expansion-content>
    </mat-expansion-panel>
    }
</mat-accordion>