<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" [name]="'pdf'">
    <p style="color: white"> Loading PDF... </p>
</ngx-spinner>

<div class="flex flex-row justify-between items-center">
    <div>
        <h2 mat-dialog-title>Preview</h2>
        <div class="ml-4">
            <h5 class="my-1">Only 1<sup>st</sup> page of pdf will be visible. </h5>
            <h5 class="my-1">Purchase pdf to get complete access.</h5>
        </div>
    </div>
    <mat-icon class="mr-4" mat-dialog-close>close</mat-icon>
</div>
<mat-dialog-content class="mat-typography">
    <ngx-extended-pdf-viewer [src]="fileURL" [customToolbar]="customCheckboxZoomToolbar" [textLayer]="false"
        [showZoomButtons]="true" [zoom]="zoom" [className]="'klknuibiubui'" [page]="1"></ngx-extended-pdf-viewer>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>

    <button mat-stroked-button color="accent">Purchase</button>
</mat-dialog-actions>

<ng-template #customCheckboxZoomToolbar>
    <div id="toolbarViewer">
        <div [class.invisible]="false" id="toolbarViewerMiddle" class="flex">
            <pdf-zoom-dropdown class="invisible"></pdf-zoom-dropdown>

            <ng-container *ngFor="let zoomLevel of ['25%', '50%', '100%', '200%', 'auto']; let i = index">
                <input type="radio" [id]="'zoom' + zoomLevel" class="toolbarField radio" [tabindex]="94 + i"
                    (click)="zoom = zoomLevel" name="zoom" [checked]="zoom === zoomLevel" />
                <label [for]="'zoom' + zoomLevel" class="toolbarLabel">{{ zoomLevel }}</label>
            </ng-container>
        </div>
    </div>
</ng-template>